  @import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

  * {
      padding: 0;
      margin: 0;
      box-sizing: border-box;
  }

  // container
  .main {
      max-width: 1600px;
      margin: 0 auto;

      .main-container {
          max-width: 1410px;
          margin: 0 auto;
      }
  }

  .home-main {
      background: url(../img/Home-bg.png) no-repeat;
      background-size: cover;
  }

  body {
      background-color: #050231;
      font-family: 'Inter', sans-serif;
  }

  //   header start
  #header {
      border-bottom: 2px solid rgba(38, 25, 85, 0.5);
      padding: 10px 0;

      .header-wrap {

          // logo
          .header-logo {
              a {
                  width: 177px;

                  img {
                      width: 100%;
                  }
              }
          }
      }

      //   .header-nav
      .header-nav {
          margin-right: 80px;

          .nav-link {
              margin: 0;
              padding: 0;

              .btn-group {
                  box-shadow: none;
                  list-style: none;
                  margin-right: 20px;
                  background: local;
                  cursor: pointer;

                  p {
                      margin: 0;
                      padding: 0;
                      font-style: normal;
                      font-weight: 700;
                      font-size: 16px;
                      line-height: 19px;
                      color: #FFFFFF;
                  }
              }
          }
      }

      //   header-btn
      .header-btn {
          background: linear-gradient(272.09deg, #FF4581 0%, #4182D5 100%);
          border-radius: 100px;
          border: 1px solid transparent;
          font-style: normal;
          font-weight: 700;
          font-size: 16px;
          line-height: 30px;
          letter-spacing: 0.01em;
          color: #FFFFFF;
          padding: 9px 40px;
      }
  }

  //   header end
  //   Home start
  #home {
      .home-wrap {
          display: flex;
          align-items: center;
          justify-content: space-between;

          // .home-left
          .home-left {
              .home-save {
                  background: #2F1D52;
                  border-radius: 100px;
                  max-width: 376px;
                  padding: 1px;

                  span {
                      background: #FFFFFF;
                      border-radius: 100px;
                      padding: 8px 21px 6px 21px;
                      margin-right: 25px;
                  }

                  p {
                      font-style: normal;
                      font-weight: 600;
                      font-size: 15px;
                      line-height: 18px;
                      color: rgba(255, 255, 255, 0.8);
                      padding: 0;
                      margin: 0;
                  }
              }

              //   .home-text
              .home-text {
                  margin-top: 27px;

                  h1 {
                      max-width: 590px;
                      font-style: normal;
                      font-weight: 600;
                      font-size: 43.3333px;
                      line-height: 55px;
                      letter-spacing: 0.01em;
                      color: #FFFFFF;
                      margin-bottom: 10px;
                  }

                  p {
                      max-width: 366px;
                      font-style: normal;
                      font-weight: 600;
                      font-size: 16px;
                      line-height: 30px;
                      letter-spacing: 0.02em;
                      color: rgba(255, 255, 255, 0.8);
                      margin-bottom: 38px;
                  }

                  button {
                      padding: 17px 17px 17px 27px;
                      background: linear-gradient(272.09deg, #FF4581 0%, #4182D5 100%);
                      border-radius: 100px;
                      border: 1px solid transparent;
                      font-style: normal;
                      font-weight: 700;
                      font-size: 16px;
                      line-height: 30px;
                      letter-spacing: 0.01em;
                      color: #FFFFFF;

                      img {
                          margin-left: 16px;
                      }
                  }
              }
          }

          .home-right {
              margin: 88px 0px 105px 0px;
              width: 565px;
              background: rgba(75, 52, 111, 0.45);
              border: 3px solid #64527F;
              backdrop-filter: blur(12px);
              border-radius: 8px;

              .home-time {
                  padding: 37px 41px 0px 41px;

                  .title {
                      font-style: normal;
                      font-weight: 600;
                      font-size: 36px;
                      line-height: 55px;
                      color: #FFFFFF;
                  }

                  .time {
                      .time-series {
                          margin-left: 42px;

                          span {
                              width: 70px;
                              height: 70px;
                              background: #4A396F;
                              border-radius: 8px;
                              font-style: normal;
                              font-weight: 400;
                              font-size: 36px;
                              line-height: 55px;
                              color: #FFFFFF;
                          }

                          h6 {
                              font-style: normal;
                              font-weight: 400;
                              font-size: 16px;
                              line-height: 55px;
                              color: #FFFFFF;
                          }
                      }
                  }

                  .time>div {
                      &:first-child {
                          margin: 0;
                      }
                  }

                  //   growth
                  .growth {
                      .growth-top {
                          h6 {
                              font-style: normal;
                              font-weight: 700;
                              font-size: 13px;
                              line-height: 30px;
                              color: #FFFFFF;

                              span {
                                  color: #FE4581;
                              }
                          }
                      }

                      .counter-time-line {
                          background: #544878;
                          border-radius: 100px;
                          padding: 2px;
                          position: relative;

                          button {
                              background: linear-gradient(272.09deg, #FF4581 0%, #4182D5 100%);
                              border-radius: 100px;
                              border: transparent;
                              position: relative;
                              Width: 183px;
                              Height: 34px;

                              span {
                                  top: 50%;
                                  transform: translateY(-50%);
                                  right: 15px;
                                  position: absolute;
                                  font-style: normal;
                                  font-weight: 700;
                                  font-size: 13px;
                                  line-height: 30px;
                                  letter-spacing: 0.01em;
                                  color: #FFFFFF;
                              }

                          }

                          .line-detal {
                              max-width: 487px;
                              position: absolute;
                              justify-content: space-around;
                              top: 17px;

                              span {
                                  width: 48px;
                                  height: 0px;
                                  border: 1px solid #FFFFFF;
                                  transform: rotate(90deg);
                              }

                              p {
                                  margin: 0;
                                  margin-top: 25px;
                                  font-style: normal;
                                  font-weight: 700;
                                  font-size: 14px;
                                  line-height: 30px;
                                  letter-spacing: 0.01em;
                                  color: #FFFFFF;
                              }
                          }
                      }
                  }
              }

              .home-time-bottom {
                  padding: 15px 0;
                  margin-top: 50px;
                  background: rgba(101, 83, 135, 0.3);

                  .currency {
                      max-width: 332px;
                      margin: 0 auto;
                      display: flex;
                      align-items: center;
                      justify-content: space-evenly;

                      i {
                          font-size: 32px;
                          color: #fff;
                      }
                  }
              }
          }
      }
  }

  //   Home end

  //   NFT series start
  #nft {
      .nft-wrap {
          max-width: 1508px;
          margin: 0 auto;
          position: relative;
          padding: 75px 0;

          .nft-img {
              width: 1258px;

              img {
                  width: 100%;
              }
          }

          .nft-text {
              position: absolute;
              top: 50%;
              transform: translateY(-50%);
              right: 100px;

              .nft-title {
                  h3 {
                      font-style: normal;
                      font-weight: 600;
                      font-size: 35px;
                      line-height: 55px;
                      letter-spacing: 0.01em;
                      color: #FFFFFF;
                  }

                  p {
                      font-style: normal;
                      font-weight: 500;
                      font-size: 14px;
                      line-height: 17px;
                      letter-spacing: 0.03em;
                      color: #FFFFFF;
                      margin: 0;
                  }
              }

              .nft-about {
                  margin-top: 23px;

                  .nft-about-left {
                      height: 250px;
                      margin-right: 41px;

                      img {
                          width: 100%;
                          height: 100%;
                      }
                  }

                  .nft-about-right {
                      .nft-about-series {
                          margin-bottom: 42px;
                          position: relative;

                          .nft-about-icon {
                              width: 48px;
                              height: 48px;
                              background: linear-gradient(298.91deg, #FF4581 -3.22%, #4182D5 75.96%);
                              border-radius: 100px;
                              position: absolute;
                              left: -65px;
                          }

                          h5 {
                              font-style: normal;
                              font-weight: 700;
                              font-size: 20px;
                              line-height: 24px;
                              letter-spacing: 0.04em;
                              color: #FFFFFF;
                              margin-bottom: 10px;
                          }

                          p {
                              max-width: 393px;
                              font-style: normal;
                              font-weight: 500;
                              font-size: 14px;
                              line-height: 22px;
                              color: #fff;
                          }
                      }
                  }

                  .nft-about-right>div:last-child {
                      margin: 0;
                  }
              }
          }
      }
  }

  //   NFT series end


  // Toke series start
  #token {

      background: url(../img/token-bg.png) no-repeat, ;
      background-size: cover, cover;
      padding: 75px 0;

      .token-wrap {
          .title {
              text-align: center;

              h4 {
                  font-style: normal;
                  font-weight: 600;
                  font-size: 35px;
                  line-height: 55px;
                  letter-spacing: 0.01em;
                  color: #FFFFFF;
              }

              p {
                  font-style: normal;
                  font-weight: 500;
                  font-size: 17px;
                  line-height: 21px;
                  color: #FFFFFF;
              }
          }

          //   token-about
          .token-about {
              margin-top: 48px;

              .token-series {
                  .token-text {
                      h6 {
                          margin: 0;
                          padding: 0;
                          font-style: normal;
                          font-weight: 700;
                          font-size: 20px;
                          line-height: 24px;
                          text-align: center;
                          letter-spacing: 0.04em;
                          color: #FFFFFF;
                          margin-bottom: 18px;
                      }

                      p {
                          max-width: 310px;
                          margin: 0;
                          padding: 0;
                          font-style: normal;
                          font-weight: 500;
                          font-size: 14px;
                          line-height: 26px;
                          text-align: center;
                          letter-spacing: 0.03em;
                          color: #FFFFFF;
                      }
                  }
              }
          }
      }
  }

  // Toke series end

  //   statistics series start
  #statistics {
    padding: 80px 0;
      .statistics-wrap {
          .statistics-title {
              text-align: center;

              h4 {
                  font-style: normal;
                  font-weight: 600;
                  font-size: 35px;
                  line-height: 55px;
                  letter-spacing: 0.01em;
                  color: #FFFFFF;
              }

              p {
                  font-style: normal;
                  font-weight: 500;
                  font-size: 17px;
                  line-height: 21px;
                  color: #FFFFFF;
              }
          }
      }
  }

  //   statistics series end